parameters:
    level: 7
    paths:
        - src
        - test
    stubFiles:
        - stubs/AbstractFactoryInterface.stub
        - stubs/ContainerInterface.stub
        - stubs/DelegatorFactoryInterface.stub
        - stubs/FactoryInterface.stub
        - stubs/InitializerInterface.stub
        - stubs/InvokableFactory.stub
    treatPhpDocTypesAsCertain: false