parameters:
	ignoreErrors:
		-
			message: '#^Method PhpCmd\\ConfigProvider\:\:__invoke\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ConfigProvider.php

		-
			message: '#^Method PhpCmd\\ConfigProvider\:\:getCommandMap\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ConfigProvider.php

		-
			message: '#^Method PhpCmd\\ConfigProvider\:\:getDependencies\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ConfigProvider.php

		-
			message: '#^Method PhpCmd\\ConfigProvider\:\:getMiddleware\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ConfigProvider.php

		-
			message: '#^Access to offset ''middleware'' on an unknown class PhpCmd\\Container\\MiddlewareSpec\.$#'
			identifier: class.notFound
			count: 2
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:createCollectionMapper\(\) has PhpCmd\\Container\\InvalidArgumentException in PHPDoc @throws tag but it''s not thrown\.$#'
			identifier: throws.unusedType
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:createCollectionMapper\(\) has invalid return type PhpCmd\\Container\\MiddlewareSpec\.$#'
			identifier: class.notFound
			count: 2
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:createCollectionMapper\(\) should return callable\(PhpCmd\\Container\\MiddlewareSpec\)\: PhpCmd\\Container\\MiddlewareSpec but returns Closure\(mixed\)\: non\-empty\-array\.$#'
			identifier: return.type
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:createPriorityQueueReducer\(\) has invalid return type PhpCmd\\Container\\MiddlewareSpec\.$#'
			identifier: class.notFound
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:createPriorityQueueReducer\(\) return type with generic class SplPriorityQueue does not specify its types\: TPriority, TValue$#'
			identifier: missingType.generics
			count: 2
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:createPriorityQueueReducer\(\) should return callable\(SplPriorityQueue, PhpCmd\\Container\\MiddlewareSpec\)\: SplPriorityQueue but returns Closure\(SplPriorityQueue, array\)\: SplPriorityQueue\.$#'
			identifier: return.type
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:pipeMiddleware\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\Container\\MiddlewarePipeFactory\:\:pipeMiddleware\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^PHPDoc tag @throws with type PhpCmd\\Container\\InvalidArgumentException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^PHPDoc tag @var for variable \$queue contains unknown class PhpCmd\\Container\\MiddlewareSpec\.$#'
			identifier: class.notFound
			count: 1
			path: src/Container/MiddlewarePipeFactory.php

		-
			message: '#^Method PhpCmd\\MiddlewarePipe\:\:process\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/MiddlewarePipe.php

		-
			message: '#^PHPDoc tag @throws with type PhpCmd\\Exception\\EmptyPipelineException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/MiddlewarePipe.php

		-
			message: '#^PHPDoc tag @var above assignment does not specify variable name\.$#'
			identifier: varTag.noVariable
			count: 1
			path: src/MiddlewarePipe.php

		-
			message: '#^Method PhpCmd\\MiddlewareInterface\:\:process\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Next.php

		-
			message: '#^Property PhpCmd\\Next\:\:\$handler is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Next.php
